.about-fork {
  transform: translateY(-200px);
  position: relative;
  height: 540px;
  width: 100%;
  background-color: #4a3b4e;
}
.heading-about-fork {
  z-index: 1;
  transform: translateY(20px);
  font-size: 48px;
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

.img-about-fork {
  height: 750px;
  width: 100%;
}

.grid-on-img {
  transform: translateY(-560px);
  margin-left: 4%;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 60px 200px;
}
.post1 {
  grid-area: 1 / 1 / 2 / 2;
}

.post2 {
  grid-area: 1 / 2 / 2 / 3;
}

.post3 {
  transform: translateY(-20px);
  grid-area: 1 / 3 / 2 / 4;
}

.post4 {
  grid-area: 2 / 1 / 3 / 2;
}

.post5 {
  grid-area: 2 / 2 / 3 / 3;
}

.post6 {
  grid-area: 2 / 3 / 3 / 4;
}

.text-about {
  color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: italic;
  width: 350px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.img-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.down-text-about {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #a291a5;
  width: 80%;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  position: absolute;
  top: 700px;
  left: 10%;
}
.grid-on-img div {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fork-line {
  position: absolute;
  top: 790px;
  left: 17.3%;
  width: 65%;
}
