@media (max-width: 1200px) {
  .white {
    padding: 10px 20px;
  }
  .btn-buy {
    margin-left: 15px;
    width: 140px;
  }
  .text-fork {
    margin-left: 10%;
  }
  .btn-fork {
    margin-top: 318px;
  }
  .text-about-fork {
    margin-left: 17%;
  }
  .text-about {
    width: 320px;
  }
  .talking-about {
    margin-left: 23px;
    gap: 50px 130px;
  }
  .down-text-about{
    left: 8%;
  }
 .two{
     margin-top: -7px;
 }
 .four{
     margin-top: 8px;
 }
 .one{
     margin-top: -3px;
 }
}
