@media (min-width: 993px) and (max-width: 1200px) {

  // ===========PRICE=========
  .price-block {
    margin: 51px 2px 0px 20px;
  }

  .price-block-active {
    margin: 0px 2px 0px 0px;
  }

  //============PRICE-END======
  //============GET============

  .get {
    padding: 64px 0px 0px 0px;
    margin: 90px 0px 0px 5%;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: 200px 0.5fr 0.5fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .get-grid10 {
    width: calc(550px + 2vw);
    height: auto;
    margin: 0;

    & .get-editor-big {
      width: 100%;
      height: auto;
    }

    margin-left: 0%;
  }

  
  .get-title-editor {
    padding-top: 50px;
    font-size: calc(17px + 2vw);
  }

  //========GET-END========


  .white {
    padding: 10px 20px;
  }

  .btn-buy {
    margin-left: 15px;
    width: 140px;
  }

  .text-fork {
    margin-left: 10%;
  }

  .btn-fork {
    margin-top: 318px;
  }

  .text-about-fork {
    margin-left: 17%;
  }

  .text-about {
    width: 320px;
  }

  .talking-about {

    margin-left: 23px;
    gap: 50px 130px;
  }

  .down-text-about {
    left: 8%;
  }

  .two {
    margin-top: -7px;
  }

  .four {
    margin-top: 8px;
  }

  .one {
    margin-top: -3px;
  }


}

@media (min-width: 481px) and (max-width: 992px) {
  //========REV===========

  .rev {
    width: 90%;

    .rev-title {
      font-size: calc(5px + 4vw);
    }



    .rev-button {
      display: block;
      margin: 0px auto 0px auto;
      max-width: 550px;

      // margin-right: 0px;
      & .rev-btn {
        width: 125px;
        background-position: calc(100% - 4em) 0, calc(100% - 4em + 1px) 0, 0 0;
      }

      & .rev-btn:after {
        width: 20px;
      }
    }

    .rev-grid {
      width: 100%;
      // height: 100px;
      display: grid;
      grid-template-columns: 33.5% 33.5% 10%;
      grid-template-rows: 1fr;
      gap: 0px 1px;
      grid-template-areas:
        ". . .";
    }
  }

  //========REV-END========
  //========GET============


  .get {
    padding: 64px 0px 0px 0px;
    margin-top: 90px;

    display: grid;
    grid-template-columns: 1fr, 500px;
    grid-template-rows: 200px, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .get-grid9 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .get-grid1 {
    & img {
      display: block;
      margin: 30% auto 0px auto;
    }

    grid-area: 2 / 1 / 3 / 2;
  }

  .get-grid3 {
    & img {
      display: block;
      margin: 15% auto 0px auto;
    }

    grid-area: 3 / 1 / 4 / 2;
  }

  .get-grid2 {
    & img {
      display: block;
      margin: 20% auto 0px auto;
    }

    grid-area: 4 / 1 / 5 / 2;
  }

  .get-grid4 {
    & img {
      display: block;
      margin: 19% auto 0px auto;
    }

    grid-area: 5 / 1 / 6 / 2;
  }

  .get-grid6 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .get-grid7 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .get-grid8 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .get-grid5 {
    grid-area: 5 / 2 / 6 / 3;
  }

  .get-grid10 {
    margin-left: 4%;
    grid-area: 6 / 1 / 7 / 3;
  }

  //===========GET-END===========

  .price-table {
    margin-left: 42px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
  }

  .price-block {
    margin: 51px 0px 0px 65px;
  }

  .price-block-active {
    margin: 0px 0px 0px 25px;
  }

  .text-fork {
    display: block;
    margin: 0px auto 0px auto;
    width: 768px;

  }

  .navbar-menu {
    height: 90px;
    background: #27262a;
  }

  .img-fork {
    margin-top: 0;
  }

  .icon-nav {
    margin-top: -15px;
    margin-left: 30px;
  }

  .forkio {
    margin-top: -8px;
    margin-left: 90px;
  }

  .white {
    transform: translateX(95px);
    margin-top: 40px;
  }

  .btn-buy {
    margin-right: -1%;
    margin-top: -15px;
  }

  .textfork {
    width: 700px;
    // margin-top: 40px;
    text-align: center;
    display: block;
    margin: 40px auto 0px auto;
    // margin-left: -23%;
    font-size: 80px;
  }

  .text2 {
    width: 710px;
    display: block;
    margin: 10px auto 0px auto;
    font-size: 25px;
    // margin-left: -195px;
  }

  .text3 {
    width: 710px;
    font-size: 14px;
    display: block;
    margin: 10px auto 0px auto;
    // margin-left: -25%;
  }

  .btn-fork {
    display: block;
    margin: 205px auto 0px auto;
  }

  .down-btn-text {
    display: block;
    margin: 20px auto 0px auto;
  }

  .text-about-fork {
    margin-left: 6%;
    font-size: 40px;
  }

  .talking-about {
    width: 718px;
    margin-top: -30px;
    margin-left: -5px;
  }

  .post1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .post2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .post3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .post4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .post5 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .post6 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .down-text-about {
    margin-top: 200px;
    width: 90%;
    left: 5%;
  }

  .fork-line {
    margin-top: 220px;
  }

  .pricing {
    padding-top: 600px;
  }

  .three {
    margin-top: -13px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  //==========REV==========

  .rev {
    width: 100%;
    height: 263px;

    .rev-title {
      width: 100%;
      font-size: calc(26px + 2vw);
      line-height: 40px;
    }

    .rev-text {
      // text-align: center;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
    }

    .rev-grid {
      // padding-right: 10px;
      width: 290px;
      height: 100px;
      // place-items: ;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 5px;
      grid-row-gap: 0px;
    }

    .rev-grid1 {
      // width: 100px;
      grid-area: 1 / 1 / 2 / 3;
    }

    .rev-grid2 {
      grid-area: 1 / 3 / 2 / 5;
    }

    .rev-grid3 {
      grid-area: 2 / 2 / 3 / 4;
    }

    .rev-button {
      margin: 0px auto 0px auto;

      & .rev-btn {
        width: 125px;
        height: 24px;
        line-height: 23px;
        padding: 0rem 0rem;
        text-align: left;
        font-size: 13px;
        white-space: nowrap;
      }

      & .rev-btn:nth-child(1) {
        background-position: calc(100% - 3.7em) 0, calc(100% - 3.7em + 1px) 0, 0 0;
      }


      & .rev-btn:after {
        font-size: 15px;
      }
    }
  }

  //========REV-END========



  .pricing {
    & .pricing-title {
      font-size: 28px;
    }
  }



  .get {
    margin: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px, repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .get-grid9 {
    grid-area: 1 / 1 / 2 / 2;

    & .get-title-editor {
      width: 275px;
      font-size: 32px;
      text-align: center;
    }
  }

  .get-grid1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .get-grid5 {
    text-align: center;
    padding-left: 0;
    grid-area: 3 / 1 / 4 / 2;
  }

  .get-grid2 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .get-grid6 {
    text-align: center;
    padding-left: 0;
    grid-area: 5 / 1 / 6 / 2;
  }

  .get-grid3 {
    grid-area: 6 / 1 / 7 / 2;
  }

  .get-grid7 {
    text-align: center;
    padding-left: 0;
    grid-area: 7 / 1 / 8 / 2;
  }

  .get-grid4 {
    grid-area: 8 / 1 / 9 / 2;
  }

  .get-grid8 {
    text-align: center;
    padding-left: 0;
    grid-area: 9 / 1 / 10 / 2;
  }

  .get-grid10 {
    margin-left: 0%;
    // padding-right: 5%;
    grid-area: 10 / 1 / 11 / 2;

    & .get-editor-big {
      display: none;
    }

    & .get-editor-small {
      margin-left: 3px;
      display: block;
    }
  }


  .price-table {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 490px 610px 500px;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
  }


  .price-block {
    margin: 0px 0px 0px 33px;
  }

  .price-block-active {
    margin: 10px 0px 10px 12px;
  }

  .talking-about {
    width: 260px;
  }

  .about-fork {
    width: 320px;
  }

  .navbar-menu {
    height: 50px;
    background: #27262a;
  }

  .imgfork {
    height: 600px;
  }

  .icon-nav {
    margin-left: 20px;
  }

  .btn-buy {
    margin-right: 23%;
    margin-top: -15px;
  }

  .text-fork {
    width: 320px;

    //   text-align: center;
  }

  .textfork {
    width: 310px;
    display: block;
    margin: 70px auto 70px auto;
    // margin-left: -20px;
    // margin-bottom: 70px;
    // margin-top: 70px;
    font-size: 48px;
  }

  .text2 {
    // margin-left: -18px;
    width: 320px;
    font-size: 20px;
  }

  .text3 {
    width: 320px;
    font-size: 14px;
    // margin-left: -8%;
  }

  .btn-fork {
    width: 290px;
    margin-top: 300px;
    // margin-left: -12px;
  }

  .down-btn-text {
    width: 320px;
    // margin-left: -18px;
  }

  .forkio {
    display: none;
  }

  .text-about-fork {
    width: 310px;
    margin-left: 4px;
    font-size: 37px;
    text-align: center;
  }

  .post1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .post2 {
    grid-area: 2 / 1 / 3/ 2;
  }

  .post3 {
    grid-area: 3 / 1 / 4/ 2;
  }

  .post4 {
    grid-area: 4/ 1 / 5 / 2;
  }

  .post5 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .post6 {
    grid-area: 6 / 1 / 7/ 2;
  }

  .text-about {
    width: 300px;
    font-size: 13px;
    margin-top: 15px;
    margin-left: -35px;
  }

  .img-about-fork {
    height: 1100px;
  }

  .img-about {
    margin-left: 40px;
  }

  .one {
    margin-top: 40px;
  }

  .three {
    margin-left: 80px;
  }

  .four {
    margin-top: -20px;
    margin-left: 3px;
  }

  .six {
    margin-left: 60px;
  }

  .down-text-about {
    margin-top: 800px;
    width: 90%;
    left: 5%;
  }

  .fork-line {
    margin-top: 900px;
  }
}